@media (max-width: 1259px) {
	.main .container {
		width: 850px;
	}

	.header {
		padding: 0 72px;
	}

	.header__bottom {
		padding-bottom: 44px;
	}

	.header__title {
		font-size: 40px;
	}

	.menu {
		padding: 64px 72px;
	}

	.recommended__block {
		flex-basis: 267px;
	}

	.recommended__title {
		font-size: 14px;
	}

	.recommended__descr {
		font-size: 14px;
	}

	.photo__square {
		width: 275px;
		height: 275px;
	}

	.photo__wide {
		width: 550px;
		height: 275px;
	}

	.footer {
		height: 400px;
	}
}


@media (max-width: 991px) {
	.main .container {
		width: 600px;
	}

	.title {
		font-size: 40px !important;

	}

	.header {
		background: url(../images/header-bg-m.png) center center/cover no-repeat;
	}

	.recommended__blocks {
		flex-direction: column;
	}

	.recommended__block {
		padding: 0 104px;
	}

	.recommended__title {
		font-size: 16px;
	}

	.recommended__descr {
		font-size: 16px;
	}

	.photo__square {
		width: 184px;
		height: 187px;
	}

	.photo__wide {
		width: 392px;
		height: 187px;
	}

}

@media (max-width: 743px) {

	.main .container {
		width: 476px;
	}

	.title {
		font-size: 36px !important;
	}

	.header {
		background: url(../images/header-bg-s.png) center center/cover no-repeat;
	}

	.header__wavesImg {
		width: 36px;
		height: 42px;
		margin-bottom: 20px;
	}

	.category__photos {
		gap: 8px;
	}

	.photo__square {
		width: 156px;
		height: 156px;
	}

	.photo__wide {
		width: 312px;
		height: 156px;
	}

	.howToBuy {
		flex-direction: column;
		gap: 32px;
	}

	.howToBuy__title {
		padding-bottom: 0 !important;
	}

	.howToBuy__content {
		padding-top: 0;
	}

	.footer {
		height: 200px;
	}
}

@media (max-width: 575px) {

	.main .container {
		width: 280px;
	}

	.title {
		font-size: 32px !important;
		padding-bottom: 48px !important;
	}

	.header {
		padding: 0 20px;
	}

	.header__burger:hover {
		background: url(../icons/icon-burger-menu.png) center center/cover no-repeat;
	}

	.header__top {
		padding-top: 32px;
	}

	.header__logo {
		width: 127px;
		height: 16px;
	}

	.header__wavesImg {
		width: 32px;
		height: 38px;
	}

	.header__title {
		font-size: 32px;
	}

	.header__bottom {
		padding-bottom: 32px;
	}

	.menu {
		padding: 32px 20px;
	}

	.nav ul {
		margin: 4px 0;
	}

	.nav__link:hover:after {
		display: none;
	}

	.recommended__blocks {
		gap: 48px;
	}

	.recommended__block {
		padding: 0;
	}

	.category {
		margin-top: 40px;
	}

	.category__title {
		font-size: 16px;
	}

	.photo__square {
		width: 130px;
		height: 130px;
	}

	.photo__wide {
		width: 130px;
		height: 130px;
	}
}